DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
APP_TIME_ZONE=Asia/Bangkok

POSTGRES_DB=lottery_platform
POSTGRES_USER=lottery_platform
POSTGRES_PASSWORD=lottery_platform
POSTGRES_HOST=db
POSTGRES_PORT=5432
